<div class="container-fluid app">
  <div class="row">
    <nav class="navbar navbar-expand-lg custom-navbar">
      <a class="navbar-brand" href="./series" style="color:white;">
        <img src="../assets/seriesIcon.png" class="nav-img" alt="">BUENAS<span>SERIES.COM</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/series">Series</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Categorías
            </a>
            <app-categoria-list></app-categoria-list>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/actores">Actores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/directores">Directores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/plataformas">Plataformas</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <router-outlet></router-outlet>

  <div class="row footer">
    <footer class="text-light text-center py-2">
      <p>&copy; 2023 BUENAS<span>SERIES.COM</span></p>
    </footer>
  </div>
</div>