.card-oscura {
  background-color: #1363DF;
  color: white;
  border: 0px;
}

.card-clara {
  background-color: #47B5FF;
  color: white;
  border: 0px;
}

.card-oscura:hover {
  background-color: #1157C3;
}

.card-clara:hover {
  background-color: #3E9EDF;
}

.card {
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
  height: 15rem;
}

.card img {
  width: 100%;
  height: 8rem;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.series {
  margin: 50px auto;
}

.btn-group {
  margin: 0 10 auto;
}

.opciones {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 50px;
}

.opciones .dropdown {
  margin: 0 10px;
}

.opciones h2 {
  color: white;
  text-align: center;
  padding: 10px;
}

.btn-azul-claro {
  background-color: #47B5FF;
  color: white;
  border: 0px solid #47B5FF;
}

.btn-azul-oscuro {
  background-color: #4E4FEB;
  color: white;
  border: 0px solid #4E4FEB;

}

input {
  background-color: #000000;
  color: #4E4FEB;
  border: 3px solid #4E4FEB;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input::placeholder {
  color: #4E4FEB;
}

input:focus {
  background-color: #000000;
  color: #4E4FEB;
  border: 3px solid #4E4FEB;
}




button {
  background-color: #000000;
  color: #4E4FEB;
  border: 0px solid #4E4FEB;
}


.dropdown-oscuro {
  background-color: #4E4FEB;
}

.dropdown-oscuro li a {
  color: white;
  background-color: #4E4FEB;
}

.dropdown-oscuro li a:hover {
  background-color: #4040be;
}

h5 {
  margin-bottom: 1rem;
  color: white;
  font-size: larger;
  text-align: center;
}

#plataformas-pagination ::ng-deep .ngx-pagination li a {
  color: white;
}

#plataformas-pagination ::ng-deep .ngx-pagination .current {
  background: #1363DF;
}


#plataformas-pagination ::ng-deep .ngx-pagination li a:hover {
  background-color: #47B5FF;
}

.btn-azul-oscuro:hover {
  background-color: #4040be;
  cursor: pointer;
}
